version: '3'

services:
  findmy:
    build: .
    container_name: findmy_server
    stop_grace_period: 1s
    volumes:
      - ./data:/app/data:Z
    ports:
      - 3033:3033
  anisette:
    image: dadoum/anisette-v3-server
    container_name: findmy_anisette
    network_mode: 'service:findmy'
    stop_grace_period: 1s
    volumes:
      - anisette-v3_data:/home/Alcoholic/.config/anisette-v3/lib:Z

volumes:
  anisette-v3_data: